/* nav section*/
   .g{
    color: #FF42A5;
   
   }
   .nav-g{
    font-size: 45px;
   }
   .yt-logo{
    height: 60px;
    width: 80px;
   }
   .t-logo{
    height: 40px;
    width: 50px;
   }
   .nav-link-logo{
    height: 50px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: rgba(11, 2, 35, 0.10);  }
    .nav-container ul{
        color: #3C354F;
     
        
        
          list-style: none;
    
    
    }
   a{
        text-decoration: none;
        font-size: 18px;
        font-family: Work Sans;
    }
    .nav-links ul{
        display: flex;
        align-items: center;
  gap: 30px;

    }
    .nav-container{
        display: flex;
        justify-content: space-around;
    }
    .logo-container{
        background-image: url(./images/Group\ 14.png);
        margin-top: 25px;
        margin-left: -120px;
    }
    li a {
        color: #3C354F;
    }
    .nav-links{
        margin-right: -90px;
    }
    /* nav sections end here */







    /* header section */
    .right-container h1{
        color: #0B0223;
font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
    }
    .right-container span{
        text-align: center;
font-family: Work Sans;
font-size: 95px;
font-style: normal;
font-weight: 800;
line-height: normal;
text-transform: uppercase;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
    }
    .right-container img{
        height: 20px;
        width: 20px;
    }
    .l-c-1,.l-c-2,.l-c-3{
        display: flex;
        align-items: center;
        gap: 7px;
        color: #534C64;
text-align: center;
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: lowercase;
    }
    .btn-h-1{
        display: inline-flex;
padding: 21px 40px;
align-items: flex-start;
gap: 10px;
border-radius: 48px;
background-color: #FF42A5;
    }
    .btn-h-2{
        display: inline-flex;
padding: 21px 40px;
align-items: flex-start;
gap: 10px;
border-radius: 48px;
background-color:  #4EC5F7;
border-radius: 48px;
margin-left: 25px;

    }
    .header{
        display: flex;
        justify-content: space-around;
    }
   .right-container{
    margin-top: 100px;
   }
/* header section ends here */



/* main section */
.main-img-container{
    display: flex;
    gap: 15px;
    justify-content: space-around;
    color: #534C64;
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 30px; 
}

.main-container h1, p{
    text-align: center;
}
/* main section ends here */
.section-horse span{
    color:  #F948B2;
}
.writings{
  align-items: center;
height: 450px;
}
.writings h1{
    text-align: right;
font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 60px; /* 125% */

}
.sh{text-align:start ;
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */}
.section-horse{
    display: flex;

border: 3px solid white;
height: 750px;
margin-top: 100px;
margin-left: 300px;
margin-right: 103px;
}
.position-img{
 position: sticky;
    margin-left: -800px;
    margin-bottom: -100px;
}
.sh-img{
    margin-left: 260px;
   
    
}

    /* for mobile */
    @media screen and (max-width:425px) {
        .nav-container{

      display: flex;
      flex-direction: column;
      margin-right: 40px;
          
        }
        .nav-links ul{
            display: flex;
            flex-direction: column;

        } 
        .logo-container{
            margin-left: 115px;
        }
       .header{
        display: flex;
        flex-direction: column-reverse;
       }
       .left-container img{
        width: 80vw;
        margin: 30px 50px;

       }
       .main-img-container{
        display: flex;
        flex-direction: column;
   margin-left: 60px;
       }
       .right-container{
        margin-left: 50px;
       }
       .section-horse{
        display: flex;
      flex-direction: column;
       }
       .writings{
        width: 100vw;
        margin: 50px auto;
    margin-left: -350px;

       }
     .hh{
     position: relative;
     margin: 0;
margin-right: -500px;
     }
     
