/* nav section*/
   .g{
    color: #FF42A5;
   
   }
   .nav-g{
    font-size: 45px;
   }
   .yt-logo{
    height: 60px;
    width: 80px;
   }
   .t-logo{
    height: 40px;
    width: 50px;
   }
   .nav-link-logo{
    height: 50px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: rgba(11, 2, 35, 0.10);  }
    .nav-container ul{
        color: #3C354F;
     
        
        
          list-style: none;
    
    
    }
   a{
        text-decoration: none;
        font-size: 18px;
        font-family: Work Sans;
    }